.formulario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

form{
    display: block;
    background: var(--black-color);
    border-radius: 5px;
    margin-top:10px;
    max-width: 700px;
    padding: 10px;
    background: var(--black-color);
    border: 1px solid var(--black-color);
    box-shadow: 0 4px 8px 0 var(--shadow);
}

input{
    margin: 0.7%;
    width: 97%;
    padding: 1%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--white-color);
}

form h1{
    text-align: center;
    padding: 20px 0 40px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
}

button{
    padding: 15px;
    border-radius: 5px;
    border: 0;
    color: var(--white-color);
    font-size:  16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px
}